
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* nav style */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
  }
  .nav-title{
    font-size: 45px;
    font-weight: bold;
  }
  .primary-text{
    color: #FD6E0A;
  }
  .dark-2{
    color: #474747;
  }
  nav ul li{
    list-style: none;
    margin-right: 51px;
  }
  nav li a{
    text-decoration: none;
    font-size: 18px;
  }
  nav ul{
    display: flex;
    align-items: center;
    
  }
  .btn-primary{
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
  }